h1{
  margin: 50px auto;
  width: 10%;
  padding: 10px;
}

.grid-container {
  max-width: 100%;
  float: center;
  margin: var(--pixles20);
  display:grid;
  justify-content: center;
  grid-template-columns: 25% 25% 25%; 
}

.grid-item{
  margin: 30px;
  border-radius:10px;
  display:flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items:center;
  justify-content:center;
  font-family:sans-serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
}

