*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --grey-dark: hsl(0, 0%, 17%);
  --grey: hsl(0, 0%, 59%);
  --light: #fff;
  --dark: #000;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}

body {
  box-sizing: inherit;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.header {
  flex: 0 0 34%;
  background-image: url(./assets/images/pattern-bg.png);
  background-size: cover;
  position: relative;
}
.header__heading {
  color: var(--light);
  text-align: center;
  margin-top: 1.5rem;
  font-size: 3rem;
  font-weight: 400;
}
.header__form {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.header__form__input {
  border: none;
  background-color: var(--light);
  font-size: 1.8rem;
  padding: 1rem;
  width: 40%;
  border-radius: 1rem 0 0 1rem;
  color: var(--grey-dark);
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}
label {
  display: none;
}
.header__form__input::placeholder {
  font-size: 1.8rem;
  font: inherit;
  color: var(--grey);
}
.header__form__input:focus {
  outline: none;
  background-color: #ccc;
  color: #333;
}

.header__form__button {
  border: none;
  background-color: var(--dark);
  padding: 0 1.5rem;
  border-radius: 0 1rem 1rem 0;
  transition: all 0.3s ease;
  /* to fix the junk pixels */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
  outline: 3px solid transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.header__form__button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.header__form__button:focus {
  outline: none;
}
.header__form__button:active {
  transform: scale(0.95);
}

.header__form__error {
  color: yellow;
  width: 44%;
  font-size: 1.6rem;
  margin: -1rem auto 0 auto;
}
.panel {
  width: 70%;
  background-color: var(--light);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding: 3rem;
  border-radius: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  z-index: 10000;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}
.panel__child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  margin-left: 2rem;
}
.panel__child:not(:last-child) {
  border-right: 0.1rem solid var(--grey);
}
.panel__title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: var(--grey);
}
.panel__detail {
  color: var(--grey-dark);
  font-size: 1.8rem;
  font-weight: 500;
}
#map {
  flex: 1;
}
@media only screen and (max-width: 1200px) {
  .panel {
    padding: 1.5rem;
  }
}
@media only screen and (max-width: 928px) {
  html {
    font-size: 50%;
  }
  .header {
    flex: 0 0 37%;
  }
  .header__form__input {
    width: 80%;
  }
  .header__form__error {
    width: 85%;
  }
  .panel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 80%;
    bottom: -3rem;
    transform: translateX(-50%) translateY(50%);
  }

  .panel__child {
    padding: 1rem;
    width: 90%;
  }

  .panel__child:not(:last-child) {
    border-right: none;
  }
}
.leaflet-top,
.leaflet-left {
  display: none;
}
